.preview__content {
    padding: 32px 308px 221px 0px;
    @include media-mobile {
        padding: 67px 0 61px;
    }
}

.preview__text {
    margin: 46px 0px;
    @extend %font-add;
    @include font($style: italic, $weight: 700, $size: 2rem, $height: 2.4rem);
    color: $color-light;
    @include media-mobile {
        display: none;
    }
}

.search-form {
    position: relative;
}

.search-form__input {
    width: 100%;
    padding: 32px 41px 41px;
    border-radius: 16px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    @include media-mobile {
        padding: 16px 16px 20px;
    }
}

::placeholder {
    @extend %font-add;
    @include font($style: italic, $weight: 400, $size: 2.4rem, $height: 2.9rem);
    color: $color-primary;
    @include media-mobile {
        @include font ($size: 1.4rem, $height: 1.7rem)
    }
}