.steps__wrapper {
    padding: 80px 11px 97px;
    @include media-mobile {
        padding: 20px 15px;
    }
}

.steps__title {
    margin: 0 0 40px 0;
    @include media-mobile {
        margin: 0 0 20px 0;
    }
}

.steps-content {
    display: flex;
    justify-content: space-between;
}
.step {
    display: flex;
    flex-direction: column;
    &_first {
        @include media-mobile {
            flex-basis: 26.1%;
            align-items: flex-start;
        }
    }
    &_centre {
        @include media-mobile {
            flex-basis: 30.9%;
            align-items: center;
        }
    }
    &_last {
        @include media-mobile {
            flex-basis: 27.2%;
            align-items: flex-end;
        }
    }
}

.step__description {
    @extend %font-add;
    @include font($weight: 400, $size: 2rem, $height: 2.4rem);
    color: $color-wave;
    margin: 30px 0px 0px 0px;
    @include media-mobile {
        @include font($size: 1.0rem, $height: 1.2rem);
        margin: 19px 0 0 0;
    }
    &_first {
        @include media-mobile {
            text-align: left;
        }
    }
    &_center {
        @include media-mobile {
            text-align: center;
        }
    }
    &_last {
        @include media-mobile {
            text-align: right;
        }
    }
}
