.control-mobile {
    display: none;
    @include media-mobile {
        display: block;
        position: relative;
        width: 100%;
        top: 249px;
        z-index: 1;
    }
}

.control-mobile__circle {
    @include media-mobile {
        position: absolute;
        left: 191px;
        bottom: 20px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(242, 120, 92, 0.5);
    }
    &:before {
        content: "";
        position: absolute;
        right: 14px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $color-primary;
        
    }
    &:after {
        content: "";
        position: absolute;
        left: 14px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(242, 120, 92, 0.5);
    } 
}

.control-mobile_arrow-prew {
    @include media-mobile {
        position: absolute;
        left: 30px;
        bottom: 93px;
        background-image: url(/assets/svg/arrow-mobile.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        &:active {
            background-image: url(/assets/svg/arrow-mobile_active.svg);
        }
    }
}

.control-mobile_arrow-next {
    @include media-mobile {
        position: absolute;
        right: 30px;
        bottom: 93px;
        background-image: url(/assets/svg/arrow-mobile.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
        &:active {
            background-image: url(/assets/svg/arrow-mobile_active.svg);
        }
    }
}