.step__icon {
    display: flex;
    justify-content: center;
}


.icon-square {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    border-radius: 16px;
    @include media-mobile {
        width: 70px;
        height: 70px;
    }
}

.ico {
    @include media-mobile {
        width: 35px;
        height: 32px;
    }
}