.wrapper__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 14px 0;
    @include media-mobile {
        justify-content: center;
    }
}

.footer-social-media {
    display: flex;
    align-self: flex-end;
}

.footer-social-media__icon {
    display: flex;
    padding: 0 10px;
}

.footer-copirights {
    line-height: 2.1rem;
    color: $color-light;
    margin: 0px;
    padding-right: 26.5%;
    @include media-mobile {
        display: none;
    }
}